/* 汎用 */
.container {
  display: flex;
}

.button {
  width: 100px;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #d8ff91;
  background-color: #555;
  border: 0;
  border-radius: 3px;
}

.button:hover {
  background: #444;
}

.header {
  text-align: center;
}

.header__icon {
  width: 200px;
}

/* ブロック単位 */
.file-manipulation-form {
  text-align: center;
}

.file-manipulation-form__button {
  margin: 0 5px;
}

.file-manipulation-form__button--hide {
  display: none;
}

.loading--hide {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.loading__text {
  margin: 0;
}

.loading__text--small {
  font-size: 10px;
}

.sample-content {
  text-align: center;
}

.sample-content__title {
  font-size: 10px;
}

.sample-content__slideshow {
  width: 600px;
}

.mode-toggle {
  display: block;
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 30px;
  cursor: pointer;
  background-color: #ddd;
  border-radius: 5px;
  transition: background-color 0.2s;

  .toggle-button__text {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 50px;
    height: 10px;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
  }
}

.toggle-button:has(:checked) {
  background-color: #d8ff91;

  .toggle-button__text {
    left: 10px;
  }
}

.toggle-button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  content: '';
  background-color: #fff;
  border-radius: 20%;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  transition: left 0.2s;
}

.toggle-button:has(:checked)::after {
  left: 60px;
}

.toggle-button input {
  display: none;
}

.result {
  display: none;
  text-align: center;
}

.result__image {
  width: 600px;
}

.result__canvas--hide {
  display: none;
}

.result-table {
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.result-table__item {
  display: inline-block;
  width: 120px;
  text-align: right;
}

.result-table__form {
  width: 120px;
}

.footer__link-to-terms {
  color: #aaa;
}

/* スマホ用 */
@media screen and (max-width: 480px) {
  .responsive {
    display: block;
  }

  #slideshowImage {
    width: 300px;
  }

  #resultImage {
    width: 300px;
  }
}
