html {
    background-color: #303030;
    color: #AAA;
}

div {
    /* border: 1px solid; */
    padding: 10px;
}

input[type="text"] {
    width: 120px;
}

span {
    display: inline-block;
    text-align: right;
    width: 110px;
}

footer {
    text-align: center;
    position: sticky;
    top: 100vh;
    width: 100%;
}

.container {
    display: flex;
}

.center {
    text-align: center;
}

.button {
    color: #D8FF91;
    background-color: #555;
    border: 0px;
    border-radius: 3px;
    padding: 5px;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
}

.button:hover {
    background: #444;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.loadingText {
    text-align: center;
    margin: 0;
}

#table {
    justify-content: center;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .responsive {
        display: block;
    }

    #result {
        width: 300px        
    }

    #resultImage {
        width: 300px;
    }
}