/* 汎用 */
body {
  background-color: #303030;
  color: #AAA;
}

div {
  padding: 10px;
}

.container {
  display: flex;
}

.center {
  text-align: center;
}

.button {
  background-color: #555;
  border: 0px;
  border-radius: 3px;
  color: #D8FF91;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  width: 100px;
}

.button:hover {
  background: #444;
}

.header {
  text-align: center;

  .header__icon {
    width: 200px
  }
}

/* ブロック単位 */
.file-manipulation-form {
  text-align: center;

  .file-manipulation-form__button {
    margin: 0 5px;
  }

  .file-manipulation-form__button--hide {
    display: none;
  }
}

.loading--hide {
  align-items: center;
  display: none;
  flex-direction: column;
  height: 500px;
  justify-content: center;

  .loading__text {
    margin: 0;
  }

  .loading__text--small {
    font-size: 10px;
  }
}

.sample-content {
  text-align: center;

  .sample-content__title {
    font-size: 10px;
  }

  .sample-content__slideshow {
    width: 600px;
  }
}

.result {
  display: none;
  text-align: center;

  .result__image {
    width: 600px;
  }

  .result__canvas--hide {
    display: none;
  }

  .result-table {
    font-size: 12px;
    justify-content: center;
    margin: 0;
    padding: 0;

    .result-table__item {
      display: inline-block;
      text-align: right;
      width: 120px;
    }

    .result-table__form {
      width: 120px;
    }
  }
}

.footer {
  font-size: 10px;
  position: sticky;
  text-align: center;
  top: 100vh;
  width: 100%;
}

/* スマホ用 */
@media screen and (max-width: 480px) {

  .responsive {
    display: block;
  }

  #slideshowImage {
    width: 300px;
  }

  #resultImage {
    width: 300px;
  }
}