body {
  color: #FFF;
}

.terms-content {
  margin: 0 auto;
  width: 600px;
}

.terms-content__title {
  font-size: 20px;
  margin: 50px;
}

.terms-content__text {
  font-size: 12px;
  line-height: 25px;
}

.terms-content__list {
  font-size: 12px;
  margin: 30px 0;
}

.terms-content__link {
  color: #AAA;
  line-height: 30px;
  word-wrap:break-word;
}

.back-to-top {
  margin-bottom: 80px;
}

.back-to-top__link {
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .terms-content__title {
    margin: 50px 20px;
  }

  .terms-content {
    width: 300px;
  }
}