body {
  color: #fff;
}

.terms-content {
  width: 600px;
  margin: 0 auto;
}

.terms-content__title {
  margin: 50px;
  font-size: 20px;
}

.terms-content__text {
  font-size: 12px;
  line-height: 25px;
}

.terms-content__list {
  margin: 30px 0;
  font-size: 12px;
}

.terms-content__link {
  line-height: 30px;
  color: #aaa;
  word-wrap: break-word;
}

.back-to-top {
  margin-bottom: 80px;
}

.back-to-top__link {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .terms-content__title {
    margin: 50px 20px;
  }

  .terms-content {
    width: 300px;
  }
}
